/* Button.module.css */

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btnContainer {
    position: relative;
  }
  
  .btnMain {
    z-index: 5;
  }
  
  .btn3d {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: none;
    background-color: black;
    padding: 30px 80px;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateX(40deg);
    z-index: 3;
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    position: relative;
  }
  
  .btn3d::before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 30%;
    background-color: rgb(44, 44, 44);
    z-index: 2;
    transform-origin: 0% 0%;
    transform: rotateX(-100deg);
    background-blend-mode: soft-light;
  }
  
  .btn3d,
  .btn3d::before {
    background-image: linear-gradient(
      90deg,
      transparent 40px,
      white 40px,
      white 100px,
      transparent 10px,
      transparent 120px,
      white 120px,
      white 140px,
      transparent 140px,
      transparent 300px
    );
    background-position: 0px 0px;
    animation: shine 5s infinite;
  }
  
  @keyframes shine {
    0% {
      background-position: -150px 0px;
    }
    100% {
      background-position: 416px 0px;
    }
  }
  
  @keyframes float {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  .shadow {
    position: absolute;
    top: calc(54% + 30px); /* Adjust top position to account for button height */
    width: 450px;
    height: 40px;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateX(30deg);
    background-color: rgba(0, 0, 0, 0.5); /* Adjust shadow color and opacity */
    z-index: 1; /* Ensure shadow is behind the button */
  }
  
  .btn3d:active {
    transform: perspective(800px) rotateX(40deg) translateY(10px);
  }
  
  .down {
    transform: translateY(2px); /* or any other transformation you desire */
  }