.parliamint-security {
    background-color: var(--bg-purple);
    background-image: url("https://web-images.parliamintcdn.in/_next/assets/images/home-page/security-bg.jpg");
}





@media all and (max-width:1279px) {
    .parliamint-security {
        background-position: center bottom;
    }
}

@media all and (max-width:767px) {
    .parliamint-security {
        background-image: url("https://web-images.parliamintcdn.in/_next/assets/images/home-page/security-bg-mobile.jpg");
        min-height: 1150px;
        background-position: right center;
    }

    .parliamint-security-heading {
        margin-top: 400px;
    }

    .parliamint-security-description {
        margin-top: 100px !important;
    }
}