@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: local('gilroy'), url(../fonts/Gilroy-Regular.ttf), format('true');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 300;
    src: local('gilroy'), url(../fonts/Gilroy-Thin.ttf), format('true');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    src: local('gilroy'), url(../fonts/Gilroy-Medium.ttf), format('true');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 600;
    src: local('gilroy'), url(../fonts/Gilroy-SemiBold.ttf), format('true');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: local('gilroy'), url(../fonts/Gilroy-Bold.ttf), format('true');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    src: local('gilroy'), url(../fonts/Gilroy-ExtraBold.ttf), format('true');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 900;
    src: local('gilroy'), url(../fonts/Gilroy-Black.ttf), format('true');
}