:root {
    --bg-black: #0f0f0f;
    --white: #f8f8f8;
    --bg-gray: #272727;
    --link-blue: rgb(126, 162, 236);
    --bg-mobile-nav: rgba(39, 43, 45, 0.43);
    --bg-red: rgb(238, 47, 76);
    --bg-blue: rgb(90, 30, 203);
    --bg-purple: rgb(90, 30, 203);
    --mobile-box-shadow: rgb(250 250 255 / 16%) 0px -5px 6px 0px inset, rgb(38 37 37 / 24%) 4px 6px 11px 1px inset;
    --mobile-bg: rgb(39, 43, 45);
    --bg-green: rgb(2, 119, 87);
    --bg-select: rgb(36, 36, 36);
}