.brands-love {
    background-color: white;
    padding: 68px 0px;
    color: var(--bg-black);
}

.brands-love-heading {
    font-size: 24px;
    font-weight: 700;
}

.brands-love-banner {
    background-image: url("https://vashong.github.io/widgets/images/mockups/Brands.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 250px;
    width: 100%;
    margin-top: 50px;
}

@media all and (max-width: 767px) {
    .brands-love-heading {
        font-size: 18px;
    }

    .brands-love-banner {
        background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/brands-mobile.png");
        background-size: contain;
        height: 240px;
        margin-top: 35px;
        background-position: left center;
    }
}