@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.scene{
    width: 326.25px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 400px;
    /* animation: scene-rotation 3s ease-in-out infinite alternate; */
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: blue; */
    transform-style: preserve-3d;
}

.side{
    width: 187px;
    height: 100%;
    /* padding: 47px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:0px;
    box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.3);
    /* left:0px; */
}

.front{
    padding: 47px;
    background: linear-gradient(201.05deg, rgba(205, 231, 255, 0.2347) 0.1%, rgba(255, 255, 255, 0.43) 58.95%, rgba(205, 231, 255, 0.115) 95.15%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(7px);
    border-radius: 7px;
    transform:translateZ(20px) rotateZ(-10deg) rotateY(15deg);
    animation: front-animation 2s ease-in-out infinite alternate;
}

.back{
    right:0;
    background: linear-gradient(201.05deg, rgba(205, 231, 255, 0.2347) 0.1%, rgba(255, 255, 255, 0.43) 58.95%, rgba(205, 231, 255, 0.115) 95.15%);
    border: 1px solid #FFFFFF;
    /* backdrop-filter: blur(7px); */
    border-radius: 7px;
    transform: translateZ(-20px) rotateZ(10deg) rotateY(-15deg);
    animation: back-animation 2s ease-in-out infinite alternate;
}

.card-back-img{
    width: 180%;
    height: 100%;
}

.side .chip{
    width: 31px;
    height: 31px;
    background-image: url(../../assets/card-chip.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #635400;
    border-radius: 7px;
}

.side p{
    margin-top: 60px;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
}

.comp-logo{
    width: 60px;
    height: max-content;
    /* background-color: #635400; */
    display: flex;
    justify-content: center;
}

.comp-logo div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.circle-one{
    background-color: #FF3939;
    transform: translateX(5px);
}

.circle-two{
    background-color: #FFC93E;
    transform: translateX(-5px);
}

@keyframes front-animation {
    from{
        transform: translateZ(20px) rotateZ(-10deg) rotateY(15deg);
    }
    to{
        transform: translateZ(20px) rotateZ(-12deg) rotateY(20deg);
    }
}

@keyframes back-animation {
    from{
        transform: translateZ(-20px) rotateZ(10deg) rotateY(-15deg);
    }
    to{
        transform: translateZ(-20px) rotateZ(12deg) rotateY(-20deg);
    }
}