.feel-special {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; /* Add this line to ensure proper positioning of the video */
    z-index: 1;
    background-image: url("https://vashong.github.io/widgets/images/mockups/blueback.svg");
}

@media all and (max-width: 1279px) {
    .feel-special {
        background-position: center bottom;
        background-image: url("https://vashong.github.io/widgets/images/mockups/blueback.svg");
    }
}

@media all and (max-width: 767px) {
    .feel-special {
        min-height: 1150px;
        background-position: right center;
        background-image: url("https://vashong.github.io/widgets/images/mockups/blueback.svg");
    }
}
