.parliamint-experience {
    background-color: var(--bg-blue);
    background-image: url("https://web-images.parliamintcdn.in/_next/assets/images/home-page/money-matters-bg.jpg");
}

.parliamint-experience-heading {
    max-width: 1000px !important;
}

@media all and (max-width:1279px) {
    .parliamint-experience {
        background-position: center bottom;
    }
}

@media all and (max-width:767px) {
    .parliamint-experience {
        background-image: url("https://web-images.parliamintcdn.in/_next/assets/images/home-page/money-matters-bg-mobile.jpg");
        min-height: 1150px;
        background-position: right center;
    }

    .parliamint-experience-heading {
        margin-top: 400px;
    }

    .parliamint-experience-description {
        margin-top: 100px !important;
    }
}